<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLVB"
            sequence="0"/>
                    
        <menuitem name="Danh mục loại văn bản" 
            id="menu_loai_van_ban" 
            parent="menu_root" 
            sequence="2"
            action="action_loai_van_ban"
        />
    </data>
</odoo>